.gamePlay {
  // overflow: hidden;
  .heading {
    font-size: 1.29rem;
    @media screen and (max-width: 1050px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 0.8rem;
    }
    @media screen and (max-width: 380px) {
      font-size: 0.7rem;
    }
  }
  .text {
    color: #a5acaf;
    font-size: 0.93rem;
    max-width: 50rem;
    margin-top: 1rem;
    line-height: 1.2rem;
    @media screen and (max-width: 1050px) {
      font-size: 0.7rem;
      max-width: 40rem;
    }
    @media screen and (max-width: 650px) {
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-top: 2rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 0.9rem;
    }
    @media screen and (max-width: 380px) {
      font-size: 0.8rem;
      margin-top: 1rem;
    }
  }
  .button {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    width: fit-content;
    @media screen and (max-width: 450px) {
      gap: 0.6rem;
    }

    .icons {
      display: flex;
      font-size: 1.8rem;
      @media screen and (max-width: 1050px) {
        font-size: 1.65rem;
      }
      @media screen and (max-width: 650px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 450px) {
        font-size: 1.65rem;
      }
      .icon {
        &.move {
          animation-delay: 0.7s;
          margin-left: -1.1rem;
        }
        animation: change 1s ease infinite;
        animation-delay: 0.5s;

        @keyframes change {
          0% {
            color: #00f4af;
          }
          100% {
            color: #08674c;
          }
        }
      }
    }

    .btnText {
      color: #00f4af;
      font-size: 1.1rem;
      @media screen and (max-width: 1050px) {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 650px) {
        font-size: 1.1rem;
      }
      @media screen and (max-width: 450px) {
        font-size: 0.9rem;
      }
    }
  }

  .questCards {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    @media screen and (max-width: 650px) {
      display: grid;
      justify-content: center;
      gap: 2rem;
      position: relative;
      margin-top: 6rem;
    }

    .card {
      &:nth-child(1) {
        transform: rotate(-40deg);
        transform-origin: bottom right;
        @media screen and (max-width: 650px) {
          position: absolute;
          top: 2rem;
          left: 4rem;
          width: 100%;
          z-index: 2;
          @media screen and (max-width: 450px) {
            top: 0;
            left: 0;
          }
        }
      }
      &:nth-child(3) {
        transform: rotate(40deg);
        transform-origin: bottom left;
        @media screen and (max-width: 650px) {
          position: absolute;
          top: 1rem;
          left: 3rem;
          z-index: 1;
          width: 100%;
          // display: none;
          @media screen and (max-width: 450px) {
            top: 0;
            left: 0;
          }
        }
      }
      &:nth-child(2) {
        @media screen and (max-width: 650px) {
          position: absolute;
          top: 0rem;
          left: 2rem;
          width: 100%;
          @media screen and (max-width: 450px) {
            left: 0;
          }
        }
      }
    }
  }

  .guildCard {
    margin-top: 9rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5rem;
    align-items: center;
    @media screen and (max-width: 650px) {
      margin-top: 22rem;
    }
    @media screen and (max-width: 650px) {
      grid-template-columns: 1fr;
      gap: 4rem;
    }
    .text {
      .title {
        color: #fff;
        font-weight: 400;
        font-size: 2.5rem;
        @media screen and (max-width: 1050px) {
          font-size: 1.9rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 2.3rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 1.9rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 1.5rem;
        }
      }
      .heading {
        color: #fff;
        margin-top: 2rem;
        @media screen and (max-width: 1050px) {
          font-size: 0.9rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 0.9rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 0.8rem;
          margin-top: 1rem;
        }
      }
      .paragraph1 {
        margin-top: 2rem;
        line-height: 1.5rem;
        font-size: 1rem;
        max-width: 90%;
        @media screen and (max-width: 1050px) {
          font-size: 0.75rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 1.1rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 0.8rem;
        }
      }
      .paragraph2 {
        margin-top: 2rem;
        line-height: 1.5rem;
        font-size: 1rem;
        max-width: 90%;
        @media screen and (max-width: 1050px) {
          font-size: 0.75rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 1.1rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 0.8rem;
        }
      }
      .button {
        background-image: url("../../app/assets/buttonImage.svg");
        height: 3.2rem;
        width: 10rem;
        background-size: 10rem 3.2rem;
        background-position: 50%;
        background-repeat: no-repeat;
        display: grid;
        justify-content: center;
        background-color: rgb(15, 18, 21);
        align-items: center;
        outline: #0f7e5e 1px solid;
        @keyframes glow {
          0% {
            box-shadow: 0 0 4.0169px rgba(10, 232, 99, 0.33);
          }
          100% {
            box-shadow: 0 0 45.0169px rgba(10, 232, 99, 0.2);
          }
        }

        animation: glow 2s ease-in-out alternate infinite;
        @media screen and (max-width: 1050px) {
          height: 2.5rem;
          width: 7.8rem;
          background-size: 10rem 2.5rem;
        }
        button {
          outline: none;
          border: none;
          background-color: rgb(23, 29, 34);
          color: #cac5c5;
          font-weight: 600;
          font-size: 0.85rem;
          @media screen and (max-width: 1050px) {
            font-size: 0.6rem;
          }
          @media screen and (max-width: 650px) {
            font-size: 0.8rem;
          }
        }
      }
    }

    .image {
      outline: 1px solid rgba(54, 54, 54, 0.475);
      width: 80%;
      justify-self: end;
      height: auto;
      background-color: rgb(10, 10, 10);
      padding: 2rem;
      position: relative;
      @media screen and (max-width: 650px) {
        justify-self: center;
        width: 100%;
      }
      .icon {
        position: absolute;
        right: 2rem;
        width: 2.8rem;
        height: 2.8rem;
        object-fit: cover;
        background-color: rgb(16, 16, 28);
        padding: 10px;
        @media screen and (max-width: 1050px) {
          height: 2.3rem;
          width: 2.3rem;
        }
        @media screen and (max-width: 380px) {
          height: 2rem;
          width: 2rem;
        }
        &:hover {
          background-color: rgb(7, 7, 13);
          cursor: pointer;
        }
      }
      .picture {
        display: grid;
        justify-content: center;
        img {
          width: 14rem;
          height: 19rem;
          object-fit: cover;
          @media screen and (max-width: 1050px) {
            height: 15rem;
            width: 10rem;
          }
          @media screen and (max-width: 380px) {
            width: 7rem;
            height: 11rem;
          }
        }
      }
      .warBadge {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;
        @media screen and (max-width: 380px) {
          margin-top: 0.5rem;
        }

        .wings {
          display: flex;
          gap: 10px;
          align-items: center;
        }

        .words {
          h2 {
            font-size: 1.1rem;
            @media screen and (max-width: 1050px) {
              font-size: 0.9rem;
            }
            @media screen and (max-width: 380px) {
              font-size: 0.8rem;
            }
          }
          p {
            font-size: 0.9rem;
            color: #a5acaf;
            @media screen and (max-width: 1050px) {
              font-size: 0.7rem;
            }
            @media screen and (max-width: 380px) {
              font-size: 0.6rem;
            }
          }
        }
        .figure {
          margin-right: 1rem;
          position: relative;
          .space {
            padding: 20px;
            background-color: rgb(16, 16, 32);
            transform: rotate(-40deg);
            @media screen and (max-width: 1050px) {
              padding: 18px;
            }
            @media screen and (max-width: 380px) {
              padding: 14px;
            }
          }
          .num {
            position: absolute;
            top: 25%;
            left: 25%;
            display: grid;
            justify-content: center;
            @media screen and (max-width: 1050px) {
              font-size: 0.8rem;
            }
            @media screen and (max-width: 380px) {
              font-size: 0.6rem;
            }
          }
        }
      }

      .level {
        margin-top: 2rem;
        font-size: 0.8rem;
        color: #a5acaf;
        @media screen and (max-width: 1050px) {
          font-size: 0.7rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 0.6rem;
          margin-top: 1rem;
        }

        span {
          color: #fff;
        }
      }
      .xpCount {
        font-size: 0.8rem;
        margin-top: 1rem;
        @media screen and (max-width: 1050px) {
          font-size: 0.7rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 0.6rem;
        }
        .numbers {
          display: flex;
          gap: 2px;
          h4 {
            .green {
              color: #00f4af;
              // display: none;
            }
            span {
              color: #fff;
            }
          }
        }

        .progress {
          outline: 1px solid #00f4af;
          margin-top: 1rem;
          padding: 3px;
          .progressContent {
            background-color: #08674c;
            height: 1.2rem;
            position: relative;
            z-index: 1;
            @media screen and (max-width: 1050px) {
              height: 1rem;
            }
            @media screen and (max-width: 380px) {
              height: 0.7rem;
            }
            .after {
              height: 100%;
              width: 0%;
              position: absolute;
              top: 0;
              background-color: #00f4af;
              transition: width 1.5s;
            }
          }
        }
      }
    }
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15rem;
    margin-bottom: 5rem;
    align-items: center;
    @media screen and (max-width: 650px) {
      margin-top: 7rem;
      gap: 3rem;
      grid-template-columns: 1fr;
      justify-content: center;
    }
    .skillList {
      width: 77%;
      @media screen and (max-width: 650px) {
        width: 100%;
        justify-self: center;
      }

      .headers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 0.9rem;
        @media screen and (max-width: 1050px) {
          font-size: 0.7rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 0.8rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 0.7rem;
        }

        .header {
          &:nth-child(2) {
            justify-self: end;
          }
        }
      }
      .skillCards {
        margin-top: 1.5rem;
        display: grid;
        gap: 1rem;
        @media screen and (max-width: 650px) {
          gap: 1.5rem;
        }
      }
      .forgot {
        color: #a5acaf;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 1rem;
        @media screen and (max-width: 1050px) {
          font-size: 0.6rem;
          padding: 0 1rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 0.8rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 0.7rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 0.6rem;
        }
      }
    }
    .text {
      .title {
        font-weight: 400;
        color: #fff;
        font-size: 3rem;
        @media screen and (max-width: 1050px) {
          font-size: 2.2rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 1.8rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 1.55rem;
        }
      }
      .heading {
        color: #fff;
        margin-top: 1.5rem;
        @media screen and (max-width: 380px) {
          margin-top: 0.5rem;
        }
      }
      .description {
        margin-top: 1rem;
        line-height: 1.5rem;
        font-size: 1rem;
        @media screen and (max-width: 1050px) {
          font-size: 0.7rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 1.2rem;
          line-height: 1.8rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 0.9rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 0.8rem;
          line-height: 1.5rem;
        }
      }
      .button {
        background-image: url("../../app/assets/buttonImage.svg");
        height: 3.2rem;
        width: 10rem;
        background-size: 10rem 3.2rem;
        background-position: 50%;
        background-repeat: no-repeat;
        display: grid;
        justify-content: center;
        background-color: rgb(14, 18, 21);
        align-items: center;
        outline: #0f7e5e 1px solid;
        @media screen and (max-width: 1050px) {
          height: 2.5rem;
          width: 7.8rem;
          background-size: 7.8rem 2.5rem;
        }
        @keyframes glow {
          0% {
            box-shadow: 0 0 4.0169px rgba(10, 232, 99, 0.33);
          }
          100% {
            box-shadow: 0 0 65.0169px rgba(10, 232, 99, 0.2);
          }
        }
        animation: glow 2s ease-in-out alternate infinite;
        button {
          outline: none;
          border: none;
          background-color: rgb(23, 29, 34);
          color: #cac5c5;
          font-weight: 600;
          font-size: 0.9rem;
          @media screen and (max-width: 1050px) {
            font-size: 0.75rem;
          }
          @media screen and (max-width: 650px) {
            font-size: 0.86rem;
          }
          @media screen and (max-width: 380px) {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
  .howItWorks {
    display: grid;
    margin-top: 6rem;
    @media screen and (max-width: 380px) {
      margin-top: 10rem;
    }
    .heading {
      display: grid;
      justify-content: center;
      @media screen and (max-width: 380px) {
        margin-bottom: 2rem;
      }
      h1 {
        @media screen and (max-width: 650px) {
          max-width: 25rem;
          text-align: center;
        }
        @media screen and (max-width: 450px) {
          max-width: 20rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 1.3rem;
          max-width: 15rem;
        }
      }
    }
    .instructionCards {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-top: 2rem;
      @media screen and (max-width: 650px) {
        display: grid;
        justify-content: center;
      }
      .card {
        @media screen and (max-width: 650px) {
          justify-self: center;
          max-width: 90%;
        }
        @media screen and (max-width: 450px) {
          max-width: 100%;
        }
      }
    }
  }
}
