.gamePlay {
  // overflow: hidden;
  .heading {
    font-size: 1.29rem;
  }
  .text {
    color: #a5acaf;
    font-size: 0.93rem;
    max-width: 50rem;
    margin-top: 1rem;
  }
  .button {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    width: fit-content;

    .icons {
      display: flex;
      font-size: 1.8rem;
      .icon {
        &.move {
          animation-delay: 0.7s;
          margin-left: -1.1rem;
        }
        animation: change 1s ease infinite;
        animation-delay: 0.5s;

        @keyframes change {
          0% {
            color: #00f4af;
          }
          100% {
            color: #08674c;
          }
        }
      }
    }

    .btnText {
      color: #00f4af;
      font-size: 1.1rem;
    }
  }

  .questCards {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;

    .card {
      &:nth-child(1) {
        transform: rotate(-40deg);
        transform-origin: bottom right;
      }
      &:nth-child(3) {
        transform: rotate(40deg);
        transform-origin: bottom left;
      }
    }
  }

  .guildCard {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5rem;
    align-items: center;
    .text {
      .title {
        color: #fff;
        font-weight: 400;
        font-size: 2.5rem;
      }
      .heading {
        color: #fff;
      }
      .paragraph1 {
        margin-top: 2rem;
        line-height: 1.5rem;
        font-size: 1rem;
        max-width: 90%;
      }
      .paragraph2 {
        margin-top: 2rem;
        line-height: 1.5rem;
        font-size: 1rem;
        max-width: 90%;
      }
      .button {
        background-image: url("../../app/assets/buttonImage.svg");
        height: 3.2rem;
        width: 10rem;
        background-size: 10rem 3.2rem;
        background-position: 50%;
        background-repeat: no-repeat;
        display: grid;
        justify-content: center;
        background-color: rgb(23, 29, 34);
        align-items: center;
        outline: #0f7e5e 1px solid;
        @keyframes glow {
          0% {
            box-shadow: 0 0 4.0169px rgba(10, 232, 99, 0.33);
          }
          100% {
            box-shadow: 0 0 45.0169px rgba(10, 232, 99, 0.2);
          }
        }

        animation: glow 2s ease-in-out alternate infinite;
        button {
          outline: none;
          border: none;
          background-color: rgb(23, 29, 34);
          color: #cac5c5;
          font-weight: 600;
          font-size: 0.85rem;
        }
      }
    }

    .image {
      outline: 1px solid rgba(54, 54, 54, 0.475);
      width: 80%;
      justify-self: end;
      height: auto;
      background-color: rgb(10, 10, 10);
      padding: 2rem;
      position: relative;
      .icon {
        position: absolute;
        right: 2rem;
        width: 2.8rem;
        height: 2.8rem;
        object-fit: cover;
        background-color: rgb(16, 16, 28);
        padding: 10px;
        &:hover {
          background-color: rgb(7, 7, 13);
          cursor: pointer;
        }
      }
      .picture {
        display: grid;
        justify-content: center;
        img {
          width: 14rem;
          height: 19rem;
          object-fit: cover;
        }
      }
      .warBadge {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        gap: 1rem;

        .wings {
          // scale: 1.6;
        }

        .words {
          h2 {
            font-size: 1.1rem;
          }
          p {
            font-size: 0.9rem;
            color: #a5acaf;
          }
        }
        .figure {
          margin-left: 11rem;
          position: relative;
          .space {
            padding: 20px;
            background-color: rgb(16, 16, 32);
            transform: rotate(-40deg);
          }
          .num {
            position: absolute;
            top: 25%;
            left: 25%;
            display: grid;
            justify-content: center;
          }
        }
      }

      .level {
        margin-top: 2rem;
        font-size: 0.8rem;
        color: #a5acaf;

        span {
          color: #fff;
        }
      }
      .xpCount {
        font-size: 0.8rem;
        margin-top: 1rem;
        .numbers {
          display: flex;
          gap: 2px;
          h4 {
            .green {
              color: #00f4af;
              // display: none;
            }
            span {
              color: #fff;
            }
          }
        }

        .progress {
          outline: 1px solid #00f4af;
          margin-top: 1rem;
          padding: 3px;
          .progressContent {
            background-color: #08674c;
            height: 1.2rem;
            position: relative;
            z-index: 1;
            .after {
              height: 100%;
              width: 0%;
              position: absolute;
              top: 0;
              background-color: #00f4af;
              transition: width 1.5s;
            }
          }
        }
      }
    }
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15rem;
    margin-bottom: 5rem;
    align-items: center;
    .skillList {
      width: 77%;
      .headers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 0.9rem;

        .header {
          &:nth-child(2) {
            justify-self: end;
          }
        }
      }
      .skillCards {
        margin-top: 1.5rem;
        display: grid;
        gap: 1rem;
      }
      .forgot {
        color: #a5acaf;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 1rem;
      }
    }
    .text {
      .title {
        font-weight: 400;
        color: #fff;
        font-size: 3rem;
      }
      .heading {
        color: #fff;
      }
      .description {
        margin-top: 1rem;
        line-height: 1.5rem;
        font-size: 1rem;
      }
      .button {
        background-image: url("../../app/assets/buttonImage.svg");
        height: 3.2rem;
        width: 10rem;
        background-size: 10rem 3.2rem;
        background-position: 50%;
        background-repeat: no-repeat;
        display: grid;
        justify-content: center;
        background-color: rgb(23, 29, 34);
        align-items: center;
        outline: #0f7e5e 1px solid;
        @keyframes glow {
          0% {
            box-shadow: 0 0 4.0169px rgba(10, 232, 99, 0.33);
          }
          100% {
            box-shadow: 0 0 65.0169px rgba(10, 232, 99, 0.2);
          }
        }
        animation: glow 2s ease-in-out alternate infinite;
        button {
          outline: none;
          border: none;
          background-color: rgb(23, 29, 34);
          color: #cac5c5;
          font-weight: 600;
          font-size: 0.9rem;
        }
      }
    }
  }
  .howItWorks {
    display: grid;
    margin-top: 6rem;
    .heading {
      display: grid;
      justify-content: center;
    }
    .instructionCards {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-top: 2rem;
    }
  }
  .tokenSummary {
    margin-top: 8rem;
    // .heading {
    //   display: grid;
    //   justify-content: center;
    // }
    // .description {
    //   margin-top: 1rem;
    //   display: grid;
    //   justify-content: center;
    //   color: #a5acaf;
    // }
  }
}
