.community {
  .heading {
    display: grid;
    justify-content: center;
    font-size: 1.5rem;
  }
  .description {
    display: grid;
    justify-content: center;
    color: #a5acaf;
    margin-top: 0.5rem;
    p {
      max-width: 40rem;
      text-align: center;
    }
  }
  .socialLinks {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    text-align: center;

    .icon {
      font-size: 1.3rem;
      color: #00f4af;
    }
  }
}
