.community {
  .heading {
    display: grid;
    justify-content: center;
    font-size: 1.5rem;
    @media screen and (max-width: 1050px) {
      font-size: 1.4rem;
    }
  }
  .description {
    display: grid;
    justify-content: center;
    color: #a5acaf;
    margin-top: 0.5rem;
    p {
      max-width: 40rem;
      text-align: center;
      @media screen and (max-width: 1050px) {
        font-size: 0.75rem;
      }
    }
  }
  .socialLinks {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    text-align: center;

    .icon {
      font-size: 1.3rem;
      @media screen and (max-width: 1050px) {
        font-size: 1rem;
      }
      color: #00f4af;
    }
  }
}
