.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 500000;

  .logo {
    display: flex;
    align-items: center;
    font-family: "Maxellight Outline", "Neue Machina";
    color: #fff;
    letter-spacing: 2px;
    font-size: 0.9rem;

    @media screen and (max-width: 1050px) {
      font-size: 0.5rem;
    }
    @media screen and (max-width: 920px) {
      font-size: 0.5rem;
    }
  }

  .links {
    display: flex;
    gap: 3rem;

    .link {
      text-decoration: none;
      color: #aeabab;
      @media screen and (max-width: 1050px) {
        font-size: 0.75rem;
      }
      @media screen and (max-width: 920px) {
        font-size: 0.6rem;
      }

      &.active {
        color: #fff;
        font-weight: 600;
      }
    }
  }

  .buttons {
    button {
      background-color: #217960;
      border: #217960;
      padding: 15px 20px;
      color: #fff;
      font-family: inherit;
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 0.5px;
      cursor: pointer;
      &:hover {
        background-color: #185644;
      }
      @media screen and (max-width: 1050px) {
        font-size: 0.7rem;
        padding: 10px 15px;
      }
    }
  }
}
