.home {
  text-align: center;
  visibility: hidden;

  img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    @media screen and (max-width: 1050px) {
      width: 100px;
      height: 100px;
    }
    @media screen and (max-width: 450px) {
      width: 150px;
      height: 150px;
    }
  }
  @keyframes move1 {
    0% {
      transform: translateY(-3rem) rotate(-30deg);
    }
    100% {
      transform: translate(0) rotate(-30deg);
    }
  }
  @keyframes move2 {
    0% {
      transform: translateY(3rem) rotate(60deg);
    }
    100% {
      transform: translate(0) rotate(60deg);
    }
  }

  .coin1 {
    position: absolute;
    right: 4rem;
    top: 12rem;
    transform: rotate(50deg);
    animation: move1 2s ease-in-out alternate infinite;
    @media screen and (max-width: 920px) {
      top: 32rem;
    }
    @media screen and (max-width: 650px) {
      top: 28rem;
      right: 40%;
    }
    @media screen and (max-width: 450px) {
      top: 23rem;
      right: 30%;
      z-index: 0;
    }
    @media screen and (max-width: 380px) {
      top: 17rem;
      right: 30%;
      z-index: 0;
    }
  }
  .coin2 {
    position: absolute;
    left: 4rem;
    top: 20rem;
    animation: move2 4s ease-in-out alternate infinite;
    @media screen and (max-width: 920px) {
      top: 36rem;
    }
    @media screen and (max-width: 650px) {
      display: none;
    }
  }

  .heading {
    font-size: 1.7rem;
    justify-content: center;
    display: grid;
    @media screen and (max-width: 1050px) {
      font-size: 1.3rem;
      margin-top: 6rem;
    }
    @media screen and (max-width: 920px) {
      margin-top: 0;
    }
    @media screen and (max-width: 450px) {
      font-size: 1.1rem;
    }
    @media screen and (max-width: 380px) {
      font-size: 0.9rem;
    }
    h1 {
      max-width: 50rem;
      color: #fff;
      @media screen and (max-width: 1050px) {
        max-width: 40rem;
      }
      @media screen and (max-width: 650px) {
        max-width: 30rem;
      }
      @media screen and (max-width: 450px) {
        max-width: 30rem;
      }
      @media screen and (max-width: 380px) {
        line-height: 2.5rem;
        max-width: 20rem;
      }
    }
  }

  .text {
    color: #a5acaf;
    font-size: 14px;
    margin-top: 1rem;
    line-height: 1.5rem;
    display: grid;
    justify-content: center;
    @media screen and (max-width: 1050px) {
      font-size: 10px;
    }
    @media screen and (max-width: 650px) {
      font-size: 20px;
      line-height: 1.9rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 15px;
      line-height: 1.5rem;
    }
    @media screen and (max-width: 380px) {
      font-size: 14px;
    }

    p {
      max-width: 40rem;
      @media screen and (max-width: 1050px) {
        max-width: 30rem;
      }
      @media screen and (max-width: 650px) {
        max-width: 25rem;
      }
      @media screen and (max-width: 450px) {
        max-width: 18rem;
      }
    }
  }

  .box {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    .container {
      background-color: rgb(18, 18, 31);
      padding: 0.5rem 0;
      display: flex;
      align-items: center;
      @media screen and (max-width: 1050px) {
        padding: 0.2rem 0;
      }
      @media screen and (max-width: 650px) {
        padding: 0.9rem;
      }
      @media screen and (max-width: 450px) {
        padding: 0.5rem 0.1rem !important;
      }

      .icon {
        margin-left: 1rem;
        font-size: 1.5rem;
        color: #a5acaf;
        @media screen and (max-width: 1050px) {
          font-size: 1.2rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 1.6rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 1.2rem;
        }
      }

      input {
        background-color: transparent;
        // font-family: inherit;
        outline: none;
        border: none;
        font-weight: 900;
        margin-left: 1rem;
        margin-right: 5rem;
        @media screen and (max-width: 1050px) {
          font-size: 0.8rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 1rem;
          margin-right: 1rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 0.8rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 0.7rem;
          // letter-spacing: 0.5px;
        }
      }

      button {
        background-color: #217960;
        border: none;
        outline: none;
        color: #fff;
        // font-family: inherit;
        padding: 15px 30px;
        font-weight: 600;
        margin-right: 1rem;
        @media screen and (max-width: 1050px) {
          padding: 10px 20px;
        }
        @media screen and (max-width: 650px) {
          margin-right: 0.5rem;
        }
        @media screen and (max-width: 450px) {
          padding: 10px 12px;
        }
        @media screen and (max-width: 380px) {
          padding: 10px 15px;
          font-size: 0.7rem;
        }
      }
    }
  }

  .or {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 1rem;

    .bold {
      font-weight: 600;
      font-size: 0.95rem;
      @media screen and (max-width: 1050px) {
        font-size: 0.75rem;
      }
      @media screen and (max-width: 650px) {
        font-size: 1.2rem;
      }
      @media screen and (max-width: 450px) {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 380px) {
        font-size: 0.8rem;
      }
    }
    .icon {
      font-size: 12px;
      margin-top: 5px;
      @media screen and (max-width: 1050px) {
        font-size: 0.55rem;
      }
      @media screen and (max-width: 650px) {
        font-size: 1rem;
        font-weight: bold;
      }
      @media screen and (max-width: 380px) {
        font-size: 0.8rem;
      }
    }
  }
}
