.page {
  height: auto;
  overflow: hidden;

  .home {
    margin-top: 3rem;
    @media screen and (max-width: 920px) {
      font-size: 0.5rem;
      height: 100vh;
      display: grid;
      margin-top: 0;
      // justify-content: center;
      align-items: center;
    }
  }
  .gamePlay {
    margin-top: 15rem;
    padding: 0 4rem !important;
    @media screen and (max-width: 920px) {
      padding: 0 2rem !important;
    }
  }
  .tokens {
    margin-top: 4rem;
    padding: 0 4rem !important;
    @media screen and (max-width: 920px) {
      padding: 0 2rem !important;
      margin-top: 0;
    }
  }
  .roadMap {
    margin-top: 4rem;
    padding: 0 4rem !important;
    @media screen and (max-width: 920px) {
      padding: 0 2rem !important;
      margin-top: 10rem;
    }
  }
  .community {
    margin-top: 6rem;
    padding: 0 4rem !important;
    @media screen and (max-width: 920px) {
      padding: 0 2rem !important;
    }
  }
  .footer {
    margin-top: 10rem;
    padding: 0 4rem !important;
    @media screen and (max-width: 920px) {
      padding: 0 2rem !important;
    }
  }
}
