.page {
  height: auto;
  overflow: hidden;

  .home {
    margin-top: 3rem;
  }
  .gamePlay {
    margin-top: 15rem;
    padding: 0 4rem !important;
  }
  .tokens {
    margin-top: 4rem;
    padding: 0 4rem !important;
  }
  .roadMap {
    margin-top: 4rem;
    padding: 0 4rem !important;
  }
  .community {
    margin-top: 6rem;
    padding: 0 4rem !important;
  }
  .footer {
    margin-top: 10rem;
    padding: 0 4rem !important;
  }
}
