.footer {
  .footerLinks {
    .image {
      img {
        width: 4rem;
        height: 4rem;
        @media screen and (max-width: 380px) {
          height: 3.5rem;
          width: 3.5rem;
        }
      }
    }
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 650px) {
      display: grid;
      gap: 2rem;
    }
    .linksTable {
      .heading {
        font-size: 0.9rem;
        @media screen and (max-width: 1050px) {
          font-size: 0.7rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 1.2rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 0.9rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 0.7rem;
        }
      }
      .links {
        p {
          margin-top: 1rem;
          font-size: 0.9rem;
          color: #a5acaf;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
          @media screen and (max-width: 1050px) {
            font-size: 0.7rem;
          }
          @media screen and (max-width: 650px) {
            font-size: 1rem;
          }
          @media screen and (max-width: 450px) {
            font-size: 0.9rem;
            margin-top: 2rem;
          }
          @media screen and (max-width: 380px) {
            font-size: 0.7rem;
          }
        }
      }
    }
    .contact {
      .heading {
        font-size: 0.9rem;
        @media screen and (max-width: 1050px) {
          font-size: 0.7rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 1.1rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 0.9rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 0.7rem;
        }
      }
      .description {
        font-size: 0.7rem;
        font-weight: 400;
        color: #a5acaf;
        margin-top: 5px;
        @media screen and (max-width: 650px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 0.8rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 0.7rem;
          margin-top: 20px;
        }
      }
      .message {
        background-color: rgb(17, 17, 24);
        padding: 0.5rem 0.5rem;
        display: flex;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;
        @media screen and (max-width: 1050px) {
          padding: 0.3rem;
        }
        @media screen and (max-width: 650px) {
          padding: 0.6rem;
        }
        @media screen and (max-width: 450px) {
          padding: 0.7rem 0.3rem;
        }
        @media screen and (max-width: 380px) {
          padding: 0.5rem 0.3rem;
        }

        .inputField {
          input {
            background-color: transparent;
            border: none;
            outline: none;
            font-family: inherit;
            font-weight: 700;
            font-size: 0.7rem;
            margin-left: 1rem;
            @media screen and (max-width: 1050px) {
              font-size: 0.6rem;
            }
            @media screen and (max-width: 650px) {
              font-size: 1rem;
            }
            @media screen and (max-width: 450px) {
              font-size: 0.7rem;
            }
            @media screen and (max-width: 380px) {
              font-size: 0.6rem;
            }
          }
        }
        .btn {
          button {
            background-color: #217960;
            border: none;
            outline: none;
            color: #fff;
            padding: 8px 25px;
            font-weight: 700;
            &:hover {
              background-color: #134134;
              cursor: pointer;
            }
            @media screen and (max-width: 1050px) {
              padding: 8px 15px;
              font-size: 0.7rem;
            }
            @media screen and (max-width: 650px) {
              font-size: 1rem;
              padding: 8px 20px;
            }
            @media screen and (max-width: 450px) {
              font-size: 0.8rem;
              padding: 6px 5px;
            }
            @media screen and (max-width: 380px) {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }

  .footerCredits {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 3rem;
    @media screen and (max-width: 650px) {
      display: grid;
      justify-content: center;
    }
    .credits {
      color: #a5acaf;
      @media screen and (max-width: 1050px) {
        font-size: 0.7rem;
      }
      @media screen and (max-width: 650px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 450px) {
        font-size: 0.7rem;
      }
      @media screen and (max-width: 380px) {
        font-size: 0.5rem;
      }
    }
    .socials {
      display: flex;
      gap: 2rem;
      @media screen and (max-width: 650px) {
        display: none;
      }
      .icon {
        font-size: 1.3rem;
        color: #00f4af;
        @media screen and (max-width: 1050px) {
          font-size: 1rem;
        }
      }
    }
  }
}
