.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100vh !important;
  z-index: 5;
  background-color: #020204;

  .modalContent {
    width: 100%;
    height: 100%;
    padding: 0 4rem;
    display: grid;
    align-items: center;
    @keyframes move {
      0% {
        transform: translateX(50rem);
      }
      100% {
        transform: translateX(0);
      }
    }
    animation: move 1s ease-in-out;
    .modalLink {
      padding: 0.4rem;
      outline: 1px solid rgb(57, 56, 56);
      margin-top: 20px;
      @keyframes cool {
        0% {
          transform: rotate(8deg);
        }
        50% {
          transform: rotate(-8deg);
        }
        100% {
          transform: rotate(0);
        }
      }
      animation: cool 1s ease-in-out;
      animation-delay: 0.1;
      &.one {
        animation-delay: 0.3s;
      }
      &.two {
        animation-delay: 0.5s;
      }
      &.three {
        animation-delay: 0.5s;
      }
      &.four {
        animation-delay: 0.3s;
      }
      &.five {
        animation-delay: 0.5s;
      }
      &.six {
        animation-delay: 0.3s;
      }
      &.actival {
        .linkContent {
          background-color: #153c31;

          .chip {
            visibility: visible;
          }
          .link {
            h4 {
              color: #fff;
            }
          }
        }
      }
      .linkContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
        @media screen and (max-width: 380px) {
          padding: 0.5rem;
        }
        // background-color: #153c31;

        .chip {
          outline: 2px solid #2eefb8;
          height: 0.8rem;
          width: 0.8rem;
          background-color: black;
          padding: 0.05rem;
          visibility: hidden;
          @media screen and (max-width: 380px) {
            height: 0.5rem;
            width: 0.5rem;
          }
          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
          animation: rotate 3s linear infinite;

          .chipContent {
            background-color: #2eefb8;
            height: 100%;
            width: 100%;
          }
        }
        .link {
          h4 {
            font-size: 1.04rem;
            letter-spacing: 1px;
            color: rgb(166, 164, 164);
            @media screen and (max-width: 380px) {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
