.skillCard {
  outline: 1px solid #217960;
  width: 100%;
  padding: 1.5rem !important;
  background: linear-gradient(
    180deg,
    rgba(33, 121, 96, 0.21),
    rgba(33, 121, 96, 0)
  );
  @media screen and (max-width: 1050px) {
    padding: 1rem !important;
  }
  .header {
    p {
      color: rgb(139, 137, 137);
      font-weight: 600;
      font-size: 0.8rem;
      margin-bottom: 5px;
      @media screen and (max-width: 1050px) {
        font-size: 0.65rem;
      }
    }
    h4 {
      @media screen and (max-width: 1050px) {
        font-size: 0.7rem;
      }
    }
  }

  .images {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;

    .image {
      background-color: rgb(0, 0, 0);
      padding: 9px 14px;
      outline: 1px solid rgb(28, 28, 28);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @keyframes rotate {
        0% {
          transform: rotate(20deg);
        }
        10% {
          transform: rotate(-20deg);
        }
        20% {
          transform: rotate(20deg);
        }
        30% {
          transform: rotate(-20deg);
        }
        40% {
          transform: rotate(20deg);
        }
        50% {
          transform: rotate(-20deg);
        }
        70% {
          transform: rotate(20deg);
        }
        80%,
        100% {
          transform: rotate(0deg);
        }
      }
      img {
        width: 25px;
        height: 25px;
        @media screen and (max-width: 1050px) {
          width: 18px;
          height: 18px;
        }
      }
      @media screen and (max-width: 1050px) {
        padding: 9px 10px;
      }
      .rotation {
        animation: rotate 1s ease-in-out infinite;
        animation-delay: 3s;
        &.one {
          animation-delay: 5s;
        }
        &.two {
          animation-delay: 10s;
        }
        &.three {
          animation-delay: 15s;
        }
        &.four {
          animation-delay: 20s;
        }
      }
    }
  }
}
