.questCard {
  outline: 5px solid rgb(36, 36, 36);
  padding: 1rem 1rem !important;
  background-color: rgb(13, 11, 11);
  // min-height: 14rem;

  .title {
    color: #a5acaf;
    font-size: 0.8rem;
    font-weight: 600;

    .type {
      color: #fff;
    }
  }

  .description {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    font-weight: 600;
  }
  .rewards {
    margin-top: 1rem;
    .heading {
      color: #a5acaf;
      font-weight: 500;
      font-size: 0.65rem;
      letter-spacing: 1px;
    }
    .rewardItems {
      display: flex;
      gap: 3rem;
      margin-top: 1rem;

      .rewardItem {
        display: flex;
        gap: 5px;
        align-items: center;
        .image {
          color: black;
          background-color: #fff;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: grid;
          justify-content: center;
          align-items: center;
          span {
            font-size: 0.7rem;
          }
        }
        .text {
          font-size: 0.7rem;
          color: #a5acaf;
          font-weight: 600;
        }
        .number {
          font-size: 0.9rem;
          font-weight: 600;
          color: #f3f0f0;
        }
      }
    }
  }
  .button {
    display: grid;
    justify-content: center;
    background-color: #217960;
    padding: 0.8rem 0;
    margin-top: 1rem;
    &:hover {
      background-color: #205f4d;
      cursor: pointer;
    }

    button {
      background-color: transparent;
      color: #fff;
      outline: none;
      border: none;
      font-weight: 700;
      letter-spacing: 1px;
      cursor: pointer;
    }
  }
}
